extends ../../_layouts/base

include ../../_modules/header/header
include ../../_modules/footer/footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var siteTitle = 'Dubrovnik 2017'
  - var siteDescription = 'Photos from my Dubrovnik trip in September 2017'
  - var i = 1

block content
    div.section
        div.section__label
            p About
            span
        div.section__content.section__content--centered
            p
                | Dubrovnik, Croatia<br />
                | September 2017
            div.more-link.more-link--inline #[a(href="/photo") back to albums]

    div.photo-stream
       while i <= 70
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/dubrovnik-#{i}.jpg" src="#{baseUrl}images/photos/dubrovnik-#{i++}-thumb.jpg" class="b-lazy")