extends ../../_layouts/base

include ../../_modules/header/header
include ../../_modules/footer/footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var siteTitle = 'Bavaria 2016'
  - var siteDescription = 'Photos from my Bavaria tour in September 2016'
  - var i = 1

block content
    div.section
        div.section__label
            p About
            span
        div.section__content.section__content--centered
            p
                | Bavaria, Germany<br />
                | September 2016
            div.more-link.more-link--inline #[a(href="/photo") back to albums]

    div.photo-stream
       while i <= 26
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/bavaria-#{i}.jpg" src="#{baseUrl}images/photos/bavaria-#{i++}-thumb.jpg" class="b-lazy")