extends ../../_layouts/base

include ../../_modules/header/header
include ../../_modules/footer/footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var siteTitle = 'London 2018'
  - var siteDescription = 'Photos from my London trip in March 2018'
  - var i = 1

block content
    div.section
        div.section__label
            p About
            span
        div.section__content.section__content--centered
            p
                | London, United Kingdom<br />
                | March 2018
            div.more-link.more-link--inline #[a(href="/photo") back to albums]

    div.photo-stream
        while i <= 78
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/londong-#{i}.jpg" src="#{baseUrl}images/photos/londong-#{i++}-thumb.jpg" class="b-lazy")