@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-UltraLight.eot');
	src: url('../fonts/AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-UltraLight.woff') format('woff'),
		url('../fonts/AvenirNext-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-UltraLightItalic.eot');
	src: url('../fonts/AvenirNext-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-UltraLightItalic.woff') format('woff'),
		url('../fonts/AvenirNext-UltraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-Regular.eot');
	src: url('../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-Regular.woff') format('woff'),
		url('../fonts/AvenirNext-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-Italic.eot');
	src: url('../fonts/AvenirNext-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-Italic.woff') format('woff'),
		url('../fonts/AvenirNext-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-Medium.eot');
	src: url('../fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-Medium.woff') format('woff'),
		url('../fonts/AvenirNext-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-MediumItalic.eot');
	src: url('../fonts/AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-MediumItalic.woff') format('woff'),
		url('../fonts/AvenirNext-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-DemiBold.eot');
	src: url('../fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-DemiBold.woff') format('woff'),
		url('../fonts/AvenirNext-DemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-DemiBoldItalic.eot');
	src: url('../fonts/AvenirNext-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-DemiBoldItalic.woff') format('woff'),
		url('../fonts/AvenirNext-DemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-Bold.eot');
	src: url('../fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-Bold.woff') format('woff'),
		url('../fonts/AvenirNext-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-BoldItalic.eot');
	src: url('../fonts/AvenirNext-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-BoldItalic.woff') format('woff'),
		url('../fonts/AvenirNext-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-Heavy.eot');
	src: url('../fonts/AvenirNext-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-Heavy.woff') format('woff'),
		url('../fonts/AvenirNext-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-HeavyItalic.eot');
	src: url('../fonts/AvenirNext-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-HeavyItalic.woff') format('woff'),
		url('../fonts/AvenirNext-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Publico';
	src: url('../fonts/Publico-Headline-Web-Roman.eot');
	src: url('../fonts/Publico-Headline-Web-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Publico-Headline-Web-Roman.woff') format('woff'),
		url('../fonts/Publico-Headline-Web-Roman.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Publico';
	src: url('../fonts/Publico-Headline-Web-Bold.eot');
	src: url('../fonts/Publico-Headline-Web-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Publico-Headline-Web-Bold.woff') format('woff'),
		url('../fonts/Publico-Headline-Web-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Publico';
	src: url('../fonts/Publico-Headline-Web-Black.eot');
	src: url('../fonts/Publico-Headline-Web-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Publico-Headline-Web-Black.woff') format('woff'),
		url('../fonts/Publico-Headline-Web-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
