// Fonts
@import './fonts';

// Variables
$text-color: black;
$primary: #F1FAEE;
$gray: #7C7A7A;

$font-stack-heading: "Avenir Next", "Helvetica", sans-serif;
$font-stack-body: "Avenir Next", "Helvetica", sans-serif;

// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Pure CSS
@import 'node_modules/purecss/build/pure';
@import 'node_modules/purecss/build/grids-responsive';

// Import Modules
@import '../_modules/link/link';
@import '../_modules/header/header';
@import '../_modules/footer/footer';

html, body, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: $font-stack-body !important;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .wrapper {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1170px;
  }
}

.section {
    @extend .pure-g;
    &__label {
        @extend .pure-u-1-12;
        @extend .pure-u-md-1-12;
        position: relative;
        p {
            font-family: $font-stack-heading;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
            white-space: nowrap;
            position: absolute;
            top: 50%;
            left: 50%;
            &::before {
                background-color: $text-color;
                content: '';
                display: inline-block;
                height: 0.2em;
                position: relative;
                vertical-align: middle;
                width: 50px;
                margin-right: 10px;
            }
            @media screen and (max-width: 35.5em) {
                font-size: 10px;
                &::before {
                    height: 0.15em;
                    width: 35px;
                }
            }
        }
    }
    &__content {
        @extend .pure-u-5-6;
        @extend .pure-u-md-5-6;
        p {
            font-family: $font-stack-heading;
            font-size: 35px;
            line-height: 1.5;
            font-weight: 700;
            letter-spacing: normal;
            padding: 50px;
            background-color: $primary;
            @media screen and (max-width: 35.5em) {
                font-size: 14px;
                padding: 20px;
            }
        }
    }
}

.social-icon {
    font-family: $font-stack-body !important;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    &:last-of-type {
        margin-right: 0px;
    }
    img {
        height: 15px;
        transition: transform 300ms ease;
        &:hover, &:focus {
            transform: scale(1.4);
        }
    }
}

.photo-grid {
    @extend .pure-g;
    &__photo {
        @extend .pure-u-1-2;
        @extend .pure-u-md-1-2;
        &__wrapper {
            padding-top: 10px;
            padding-bottom: 10px;
            img {
                width: 100%;
            }
        }
    }
    &__photo:nth-child(odd) > .photo-grid__photo__wrapper {
        padding-right: 10px;
    }
    &__photo:nth-child(even) > .photo-grid__photo__wrapper {
        padding-left: 10px;
    }
}

.more-link {
    text-align: center;
    padding: 25px;
    a {
        font-family: $font-stack-heading;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: 0.3em;
        text-decoration: none;
        text-transform: uppercase;
        padding: 5px 20px;
        border: 3px solid $text-color;
        @media screen and (max-width: 35.5em) {
            padding: 20px;
        }
    }
}

.album-grid {
    @extend .pure-g;
    &__header {
        @extend .pure-u-1-1;
        margin-top: 50px;
        h1 {
            font-family: $font-stack-heading;
            font-weight: 700;
            letter-spacing: 0.3em;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: normal;
            display: inline-block;
        }
        h2 {
            color: $gray;
            font-family: $font-stack-heading;
            font-weight: 500;
            font-style: italic;
            font-size: 18px;
            letter-spacing: 0.3em;
            margin: 0;
            letter-spacing: normal;
            display: inline-block;
        }
    }
    &__teaser {
        @extend .pure-u-1-1;
        @extend .pure-u-md-2-3;
        &__wrapper {
            padding-right: 10px;
            img {
                width: 100%;
            }
            @media screen and (max-width: 35.5em) {
                padding-right: 0px;
            }
        }
    }
    &__small-teaser {
        @extend .pure-u-1-1;
        @extend .pure-u-md-1-3;
        &__wrapper {
            padding-left: 10px;
            img {
                width: 100%;
            }
            &:nth-child(odd) {
                padding-bottom: 2.5px;
            }
            &:nth-child(even) {
                padding-top: 2.5px;
            }
            @media screen and (max-width: 35.5em) {
                width: 50%;
                float: left;
                padding: 0px !important;
            }
        }
    }
    margin-bottom: 50px;
}
