// Fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:400|Raleway:200);
// Variables
$bg: rgb(35,34,41);
$grayish: #CACED2;
$font-stack-heading: "Montserrat", "Helvetica", sans-serif;
$font-stack-body: "Raleway", "Helvetica", sans-serif;

// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Pure CSS
@import 'node_modules/purecss/build/pure';
@import 'node_modules/purecss/build/grids-responsive';

// Import Modules
@import '../_modules/link/link';

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: $font-stack-body !important;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.main {
    min-height: 100%;
    color: white;
    background-color: $bg;
    background: url("../images/portrait-bg.jpg");
    background-size: cover;
    background-position: center top;
    &__content {
        @extend .pure-g;
        min-height: 100%;
        max-width: 1190px;
        padding: 0 1em;
        margin: 0 auto;
        &__bio {
            @extend .pure-u-1;
            @extend .pure-u-md-1-2;
            padding-top: 10em;
            font-family: $font-stack-body !important;
            &__name {
                @extend .pure-u-1;
                font-size: 2.5em;
                h1 {
                    color: $grayish;
                    font-weight: 600;
                    font-family: $font-stack-heading !important;
                    margin-bottom: 0.1em;
                    line-height: 0.8;
                }
            }
            &__desc {
                @extend .pure-u-1;
                font-family: $font-stack-body !important;
                font-weight: 200;
                line-height: 1.7;
            }
            &__divider {
                margin: 20px 0;
                opacity: 0.2;
                border-width: 1px;
                border-color: white;
            }
            &__links {
                @extend .pure-u-1;
                &__intro {
                    font-family: $font-stack-body !important;
                    text-transform: uppercase;
                    margin-right: 1em;
                    opacity: 0.5;
                    color: $grayish;
                }
                &__link {
                    font-family: $font-stack-body !important;
                    margin-right: 15px;
                    img {
                        height: 1em;
                        transition: transform 300ms ease;
                        &:hover, &:focus {
                            transform: scale(1.4);
                        }
                    }
                }
            }
            &__meta {
                @extend .pure-u-1;
                &__intro {
                    font-family: $font-stack-body !important;
                    text-transform: uppercase;
                    margin-right: 1em;
                    opacity: 0.5;
                    color: $grayish;
                }
                &__tag {
                    @extend .pure-button;
                    font-family: $font-stack-heading !important;
                    transition: background-color 200ms ease;
                    font-size: 50%;
                    background-color: lighten($bg, 40%);
                    color: $bg !important;
                    padding: 5px 10px;
                    border-radius: 20px;
                    margin-right: 10px;
                    &:hover, &:focus {
                        background-color: lighten($bg, 70%);
                    }
                }
            }
        }
    }
}
