.album-grid {
    @extend .pure-g;
    &__header {
        @extend .pure-u-1-1;
        margin-top: 50px;
        h1 {
            font-family: $font-stack-sans;
            font-weight: 700;
            letter-spacing: 0.3em;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: normal;
            display: inline-block;
        }
        h2 {
            color: $gray;
            font-family: $font-stack-sans;
            font-weight: 500;
            font-style: italic;
            font-size: 18px;
            letter-spacing: 0.3em;
            margin: 0;
            letter-spacing: normal;
            display: inline-block;
        }
    }
    &__big-teaser {
        @extend .pure-u-1-1;
        @extend .pure-u-md-2-3;
        &__wrapper {
            padding-right: 10px;
            img {
                width: 100%;
            }
            @media screen and (max-width: 35.5em) {
                padding-right: 0px;
            }
        }
        &__wrapper--inverted {
            padding-right: 0px;
            padding-left: 10px;
            @media screen and (max-width: 35.5em) {
                padding-left: 0px;
            }
        }
    }
    &__stacked-teaser {
        @extend .pure-u-1-1;
        @extend .pure-u-md-1-3;
        &__wrapper {
            padding-left: 10px;
            img {
                width: 100%;
            }
            &:nth-child(odd) {
                padding-bottom: 2.5px;
                @media screen and (max-width: 35.5em) {
                    padding: 5px 5px 0px 0px;
                }
            }
            &:nth-child(even) {
                padding-top: 2.5px;
                @media screen and (max-width: 35.5em) {
                    padding: 5px 0px 0px 5px;
                }
            }
            @media screen and (max-width: 35.5em) {
                width: calc((100% - 10px) / 2);
                float: left;
            }
        }
        &__wrapper--inverted {
            padding-left: 0px;
            padding-right: 10px;
            &:nth-child(odd) {
                @media screen and (max-width: 35.5em) {
                    padding: 5px 0px 0px 5px;
                }
            }
            &:nth-child(even) {
                @media screen and (max-width: 35.5em) {
                    padding: 5px 5px 0px 0px;
                }
            }
        }
    }
    &__half-teaser {
        @extend .pure-g;
        &__wrapper {
            @extend .pure-u-1-2;
            img {
                padding-top: 20px;
                width: calc(100% - 10px);
            }
            &:nth-child(odd) {
                img {
                    padding-right: 10px;
                    @media screen and (max-width: 35.5em) {
                        padding-right: 5px;
                    }
                }
            }
            &:nth-child(even) {
                img {
                    padding-left: 10px;
                    @media screen and (max-width: 35.5em) {
                        padding-left: 5px;
                    }
                }
            }
            @media screen and (max-width: 35.5em) {
                img {
                    padding-top: 10px;
                    width: calc(100% - 5px);
                }
            }
        }
    }
    &__third-teaser {
        @extend .pure-g;
        &__wrapper {
            @extend .pure-u-1-3;
            img {
                padding-top: 20px;
                width: calc(100% - 10px);
                padding-left: 5px;
                padding-right: 5px;
            }
            @media screen and (max-width: 35.5em) {
                img {
                    padding-top: 10px;
                    width: calc(100% - 5px);
                    padding-left: 2.5px;
                    padding-right: 2.5px;
                }
            }
            &:first-of-type {
                img {
                    padding-right: 10px;
                    padding-left: 0px;
                    @media screen and (max-width: 35.5em) {
                        padding-right: 5px;
                    }
                }
            }
            &:last-of-type {
                img {
                    padding-left: 10px;
                    padding-right: 0px;
                    @media screen and (max-width: 35.5em) {
                        padding-left: 5px;
                    }
                }
            }
        }
    }
    .more-link {
        @extend .pure-u-1-1;
    }
    margin-bottom: 20px;
}

.photo-grid {
    @extend .pure-g;
    &__photo {
        @extend .pure-u-1-2;
        @extend .pure-u-md-1-2;
        &__wrapper {
            padding-top: 10px;
            padding-bottom: 10px;
            img {
                width: 100%;
            }
        }
    }
    &__photo:nth-child(odd) > .photo-grid__photo__wrapper {
        padding-right: 10px;
    }
    &__photo:nth-child(even) > .photo-grid__photo__wrapper {
        padding-left: 10px;
    }
}

.more-link {
    text-align: center;
    padding: 25px;
    a {
        font-family: $font-stack-sans;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: 0.3em;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 20px;
        border: 3px solid $text-color;
        transition: background-color 400ms ease;
        @media screen and (max-width: 35.5em) {
            padding: 20px;
            font-size: 10px;
            padding: 7.5px 10px;
            border-width: 2px;
        }
        &:hover, &:active, &:focus {
            background-color: $text-color;
            color: white;
            transition: background-color 400ms ease;
        }
    }
}

.photo-stream {
    @extend .pure-g;
    &__photo {
        @extend .pure-u-5-6;
        margin: 0 auto;
        img {
            width: 100%;
            margin-bottom: 50px;
        }
        &--portrait {
            img {
                width: 50%;
                margin-left: 25%;
                @media screen and (max-width: 35.5em) {
                    width: 100%;
                    margin-left: 0%;
                }
            }
        }
        &--large {
            img {
                margin-bottom: 150px;
            }
        }
    }
}