extends ../../_layouts/base

include ../../_modules/header/header
include ../../_modules/footer/footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var siteTitle = 'Frankfurt 2018'
  - var siteDescription = 'Photos from my time in Frankfurt 2018'
  - var i = 1

block content
    div.section
        div.section__label
            p About
            span
        div.section__content.section__content--centered
            p
                | Frankfurt, Germany<br />
                | January - February 2018
            div.more-link.more-link--inline #[a(href="/photo") back to albums]

    div.photo-stream
       while i <= 21
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/ffm18-#{i}.jpg" src="#{baseUrl}images/photos/ffm18-#{i++}-thumb.jpg" class="b-lazy")