extends _layouts/base

include _modules/link/link

block content
    div.main
        div.main__content
            div.main__content__bio
                div.main__content__bio__name
                    h1 JONAS<br /> TEBBE
                div.main__content__bio__desc
                    p Co-Founder and Head of Product & UX at LIQID // Co-Founder at owlhub. // Part-time nerd // fintech, design and web development afficionado //
                hr.main__content__bio__divider
                div.main__content__bio__links
                    span.main__content__bio__links__intro Get in touch
                    a.main__content__bio__links__link(href="mailto:jonastebbe@googlemail.com" target="_blank")
                        img(src="images/icons/mail.svg") 
                    a.main__content__bio__links__link(href="https://www.twitter.com/jonastebbe" target="_blank")
                        img(src="images/icons/twitter.svg") 
                    a.main__content__bio__links__link(href="https://de.linkedin.com/in/jonastebbe" target="_blank")
                        img(src="images/icons/linkedin.svg") 
                    a.main__content__bio__links__link(href="https://www.facebook.com/jonas.tebbe" target="_blank")
                        img(src="images/icons/facebook.svg") 
                    a.main__content__bio__links__link(href="https://www.github.com/jonastebbe" target="_blank")
                        img(src="images/icons/github.svg") 
                    a.main__content__bio__links__link(href="https://dribbble.com/jonastebbe" target="_blank")
                        img(src="images/icons/dribbble.svg") 
                hr.main__content__bio__divider
                div.main__content__bio__meta
                    span.main__content__bio__meta__intro Projects
                    a.main__content__bio__meta__tag(href="https://www.liqid.de/" target="_blank") LIQID
                    a.main__content__bio__meta__tag(href="http://www.owlhub.co/" target="_blank") owlhub.
code.version v1.3.2
