extends _layouts/base

include _modules/link/link
include _modules/header/header
include _modules/footer/footer

block content
    div.wrapper

        +header

        div.section
            div.section__label
                p About
                span
            div.section__content
                p
                    | Hey, I’m Jonas and I create digital products.<br />
                    | Check out #[a(href="//liqid.de" target="_blank") LIQID] or #[a(href="//owlhub.co" target="_blank") owlhub] for more.<br />
                    | I’m a UI and UX Design enthusiast and every once in a while I take some #[a(href="/photo") photos].

        div.section
            div.section__label
                p Photos
                span
            div.section__content
                div.photo-grid
                    div.photo-grid__photo
                        div.photo-grid__photo__wrapper
                            img(data-src="images/photos/berlin.jpg" src="images/photos/berlin-thumb.jpg" class="b-lazy")
                    div.photo-grid__photo
                        div.photo-grid__photo__wrapper
                            img(data-src="images/photos/prague.jpg" src="images/photos/prague-thumb.jpg" class="b-lazy")
                    div.photo-grid__photo
                        div.photo-grid__photo__wrapper
                            img(data-src="images/photos/newyork.jpg" src="images/photos/newyork-thumb.jpg" class="b-lazy")
                    div.photo-grid__photo
                        div.photo-grid__photo__wrapper
                            img(data-src="images/photos/hamburg.jpg" src="images/photos/hamburg-thumb.jpg" class="b-lazy")
                div.more-link
                    #[a(href="/photo") more photos]


        div.section
            div.section__label
                p Music
                span
            div.section__content
                div.music-grid
                    div.music-grid__track
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/305124129&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                    div.music-grid__track
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/290803038&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                    div.music-grid__track
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/290197654&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                    div.music-grid__track
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/278390592&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        +footer
