.footer {
    @extend .pure-g;
    padding: 50px 0;
    &__logo {
        @extend .pure-u-1-1;
        @extend .pure-u-md-1-2;
        h4 {
            color: $gray;
            font-family: $font-stack-sans;
            font-weight: 500;
            letter-spacing: 0.3em;
            margin: 0;
        }
        @media screen and (max-width: 35.5em) {
            text-align: center;
        }
    }
    &__links {
        @extend .pure-u-1-1;
        @extend .pure-u-md-1-2;
        text-align: right;
        &::before {
           content: ' ';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            text-align: right;
        }
        @media screen and (max-width: 35.5em) {
            text-align: center;
            margin-top: 20px;
        }
    }
}
