.header {
    @extend .pure-g;
    margin-top: 50px;
    &__logo {
        @extend .pure-u-1-1;
        @extend .pure-u-md-1-2;
        a {
            text-decoration: none;
            color: black;
            h4 {
                display: inline-block;
                font-family: $font-stack-sans;
                font-weight: 500;
                letter-spacing: 0.3em;
                margin: 0;
                vertical-align: bottom;
            }
        }
        @media screen and (max-width: 35.5em) {
            text-align: center;
            margin-bottom: 20px;
        }
    }
    &__links {
        @extend .pure-u-1-1;
        @extend .pure-u-md-1-2;
        text-align: right;
        &::before {
           content: ' ';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            text-align: right;
        }
        @media screen and (max-width: 35.5em) {
            margin-top: 10px;
            text-align: center;
        }
    }
}
